<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjl.gmall.product.mapper.BaseCategoryTrademarkMapper">


    <select id="selectTrademarkIdsByCategory3Id" resultType="long">
        select trademark_id from `base_category_trademark` where category3_id = #{id} and is_deleted = 0
    </select>

</mapper>