<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjl.gmall.product.mapper.SkuSaleAttrValueMapper">

    <resultMap id="skuValueIdsMap" type="map" autoMapping="true">

    </resultMap>
    <!-- 键和值要分清-->
    <select id="getSkuValueIdsMap" resultMap="skuValueIdsMap">
        select
               group_concat(sale_attr_value_id order by ssa.base_sale_attr_id asc separator '|') value_ids,
               sku_id
        from sku_sale_attr_value sav
                 inner join
             spu_sale_attr_value ssa
             on
                         ssa.id = sav.sale_attr_value_id and ssa.is_deleted = 0 and sav.is_deleted = 0
        where ssa.spu_id = #{spuId}
        group by sku_id
    </select>
</mapper>